@ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
@ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

@color: #000;

@floors: 24;

@build_init_duration: 0s;
@delay_build_duration: @build_init_duration;
@build_floor_step: 500ms;
@build_duration: @floors * @build_floor_step;