@import "_variables.less";
@import "mixins.less";
@import "animations.less";
@import "crane.less";

.structure {
	position: absolute;
	bottom: 0;
	
	@width: @structure_width;
	@depth: @structure_depth;
	@height: @structure_height;
	
	width: @width;
	height: 0;

	.transition(height 1000ms linear);
	.size(@width, @depth, @height, rgba(0,0,0,0), false, true);
	.transform(
		translateX(20px)
		translateY(-5px)
	);
	
	//.animation(buildup @build_duration linear @delay_build_duration forwards);
	
	.roof {
		top: 0;
		left: 0;

		@width: @structure_width;
		@depth: @structure_depth;
		@height: @structure_roof_height;
		
		width: @width;
		height: @height;
		
		.size(@width, @depth, @height, rgba(0,0,0,0), false, false);
		.transform(
			translateX(0)
			translateY(0)
		);
		
		display: none;
		
		.tower {
			top: 0;
			left: 0;
	
			@width: @crane_width;
			@depth: @crane_depth;
			@height: @structure_roof_height;
			
			width: @width;
			height: @height;
			
			.size(@width, @depth, @height, @structure_concrete_color, false, true);
		
			&:nth-child(1) {
				.transform(
					translateX(11px)
					translateY(0)
					translateZ(-35px)
				);
			}
			
			&:nth-child(2) {
				.transform(
					translateX(11px)
					translateY(0)
					translateZ(35px)
				);
			}
			
			&:nth-child(3) {
				.transform(
					translateX(81px)
					translateY(0)
					translateZ(35px)
				);
			}
			
			&:nth-child(4) {
				.transform(
					translateX(81px)
					translateY(0)
					translateZ(-35px)
				);
			}
		}
	}
	
	.build-deck {
		bottom: 0;
		left: 0;
		
		@width: @structure_width;
		@depth: @structure_depth;
		@height: @structure_build_deck_height;
		
		width: @width;
		height: @height;

		.size(@width, @depth, @height, @crane_base_color, @structure_build_interior_pattern, false);
		
		.transform(
			translateX(0)
			translateY(-80px)
			translateZ(0)
		);
		
		.transition(all 500ms linear);
		
		.panel {
			bottom: 0;
			left: 0;
			z-index: 5;
			
			@width: @structure_width;
			@depth: @structure_depth;
			@height: @structure_build_deck_panel_height;
			
			width: @width;
			height: @height;
			
			.size(@width, @depth, @height, @structure_build_deck_color, false, false);
			
			.transform(
				translateX(0)
				translateY(-(@structure_build_deck_height - @structure_build_deck_panel_height)/2)
				translateZ(0)
			);
		}
		
		.sheet {
			opacity: 0.5;
			bottom: 0;
			left: 0;
			z-index: 4;
			
			@width: @structure_width - @structure_wrap_indent*2;
			@depth: @structure_depth - @structure_wrap_indent*2;
			@height: @structure_wrap_height;
			
			width: @width;
			height: @height;
			
			.size(@width, @depth, @height, @structure_wrap_color, false, false);
			
			.transform(
				translateX(@structure_wrap_indent)
				translateY(-@structure_build_deck_height)
				translateZ(0)
			);
			
			.text {
				text-align: right;
				color: #fff;
				margin: 5px 3px 0 0;
				
				font-family: Verdana;
				font-weight: 700;
				font-size: 14px;
				line-height: 105%;
			}
		}
	}
	
	.stories {
		position: absolute;
		bottom: 0;
		left: 0;
		
		.story {
			top: 0;
			margin: 0 0 @structure_story_height 0;
			z-index: 2;
			
			@width: @structure_width - @structure_story_indent*2;
			@depth: @structure_depth - @structure_story_indent*2;
			@height: @structure_story_height + @structure_story_floor_height;
			
			width: @width;
			height: @height;
			.size(@width, @depth, @height, rgba(0,0,0,0), false, false);
			
			.transform(
				translateX(@structure_story_indent)
			);
			
			@iterations: 50;
		
			.mixin-loop (@i) when (@i > 0) {
				
				&:nth-child(@{i}) {
					.transform(
						translateX(@structure_story_indent)
						translateY(-@i * (@structure_story_height + @structure_story_floor_height))
					);
					
					.animation(fadein 1ms linear @build_floor_step * @i forwards);
				}
				
				.mixin-loop(@i - 1);
			}
			
			.mixin-loop(@iterations);
			
			.wall {
				bottom: 0;
				z-index: 3;
				opacity: 0;
				
				@width: @structure_width - @structure_story_indent*2 - @structure_fence_indent*2;
				@depth: @structure_depth - @structure_story_indent*2 - @structure_fence_indent*2;
				@height: @structure_story_height/2;
				
				width: @width;
				height: @height;
				.size(@width, @depth, @height, @structure_fence_color, false, false);
				
				.transform(
					translateX(@structure_fence_indent)
					translateY(-@structure_story_floor_height)
				);
			}
			
			.girders {
				
				.girder {
					bottom: 0;
					z-index: 3;
					
					@width: @structure_width - @structure_story_indent*2 - @structure_story_pillar_indent*2 - @crane_width + @structure_steel_width;
					@depth: @structure_steel_width;
					@height: @structure_story_floor_height;
					
					width: @width;
					height: @height;
					.size(@width, @depth, @height, @structure_steel_color, false, false);
					
					&:nth-child(3),
					&:nth-child(4) {
						@width: @structure_steel_width;
						@depth: @structure_width - @structure_story_indent*2 - @structure_story_pillar_indent*2 - @crane_width - @structure_steel_width;
						
						width: @width;
						height: @height;
						.size(@width, @depth, @height, @structure_steel_color, false, false);
					}
						
					&:nth-child(1) {
						.transform(
							translateX(@structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(0)
							translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
						);
					}
					
					&:nth-child(2) {
						.transform(
							translateX(@structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(0)
							translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
						);
					}
					
					&:nth-child(3) {
						.transform(
							translateX(@structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(0)
							translateZ(0)
						);
					}
					
					&:nth-child(4) {
						.transform(
							translateX(@structure_width - @structure_story_indent*2 - @crane_width/2 - @structure_story_pillar_indent - @structure_steel_width/2)
							translateY(0)
							translateZ(0)
						);
					}
				}
			}
			
			.floor {
				bottom: 0;
				z-index: 3;
				opacity: 0;
				
				@width: @structure_width - @structure_story_indent*2;
				@depth: @structure_depth - @structure_story_indent*2;
				@height: @structure_story_floor_height;
				
				width: @width;
				height: @height;
				.size(@width, @depth, @height, @structure_concrete_color, false, false);
				
				.transform(
					translateX(0)
					translateY(0)
				);
			}
			
			.pillars {
				.pillar {
					bottom: 0;
					left: 0;
					z-index: 4;
					
					@width: @structure_steel_width;
					@depth: @structure_steel_width;
					@height: @structure_story_height;
					
					width: @width;
					height: @height;
					
					.size(@width, @depth, @height, @structure_steel_color, false, false);

					&:nth-child(1) {
						.transform(
							translateX(@structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(-@structure_story_floor_height)
							translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
						);
					}
					
					&:nth-child(2) {
						.transform(
							translateX(@structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(-@structure_story_floor_height)
							translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
						);
					}
					
					&:nth-child(3) {
						.transform(
							translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(-@structure_story_floor_height)
							translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
						);
					}
					
					&:nth-child(4) {
						.transform(
							translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent + (@crane_width - @structure_steel_width)/2)
							translateY(-@structure_story_floor_height)
							translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
						);
					}
				}
			}
			
			&.p1p2 {
				.wall {
					opacity: 0;
				}
				
				.girders {
					opacity: 0;
				}
				
				.floor {
					opacity: 1;
					
					@width: @structure_width - @structure_story_indent*2;
					@depth: @structure_depth - @structure_story_indent*2;
					@height: @structure_story_floor_height;
					
					width: @width;
					height: @height;
					.size(@width, @depth, @height, @structure_concrete_color, @structure_rebar_pattern, false);
				}
				
				.pillars {
					.pillar {
						opacity: 1;
						
						@width: @crane_width;
						@depth: @crane_depth;
						@height: @structure_story_height;
						
						width: @width;
						
						.size(@width, @depth, @height, @structure_concrete_color, @structure_rebar_pattern, false);
						
						&:nth-child(1) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(2) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(3) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(4) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
					}
				}
			}
			
			&.p2 {
				.wall {
					opacity: 0.5;
				}
				
				.girders {
					opacity: 0;
				}
				
				.floor {
					opacity: 1;
				}
				
				.pillars {
					.pillar {
						@width: @crane_width;
						@depth: @crane_depth;
						@height: @structure_story_height;
						
						width: @width;
						
						.size(@width, @depth, @height, @structure_concrete_color, false, false);
						
						&:nth-child(1) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(2) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(3) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(4) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
					}
				}
			}
			
			&.p3 {
				.wall {
					opacity: 0.7;
					
					@width: @structure_width - @structure_story_indent*2;
					@depth: @structure_depth - @structure_story_indent*2;
					@height: @structure_story_height;
					
					width: @width;
					height: @height;
					.size(@width, @depth, @height, @structure_glass_color, false, false);
					
					.transform(
						translateX(0)
						translateY(-@structure_story_floor_height)
					);
				}
				
				.girders {
					opacity: 0;
				}
				
				.floor {
					opacity: 1;
					
					@width: @structure_width - @structure_story_indent*2;
					@depth: @structure_depth - @structure_story_indent*2;
					@height: @structure_story_floor_height;
					
					width: @width;
					height: @height;
					.size(@width, @depth, @height, @structure_brick_color, false, false);
				}
				
				.pillars {
					.pillar {
						@width: @crane_width;
						@depth: @crane_depth;
						@height: @structure_story_height;
						
						width: @width;
						
						.size(@width, @depth, @height, @structure_brick_color, false, false);
						
						&:nth-child(1) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(2) {
							.transform(
								translateX(@structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(3) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(-@structure_width/2 + @structure_story_indent + @crane_width/2 + @structure_story_pillar_indent)
							);
						}
						
						&:nth-child(4) {
							.transform(
								translateX(@structure_width - @structure_story_indent*2 - @crane_width - @structure_story_pillar_indent)
								translateY(-@structure_story_floor_height)
								translateZ(@structure_width/2 - @structure_story_indent - @crane_width/2 - @structure_story_pillar_indent)
							);
						}
					}
				}
			}
		}
	}
	
	.crane();
}